<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/index.css" media="screen">
    <link rel="stylesheet" href="../assets/css/yingbi.css" media="screen">
    <link rel="stylesheet" href="../assets/css/style.css" media="screen">
    <title>优字日报</title>
    <style type="text/css">
        /*{literal}*/
        .h10{height:10px;}
        #kd_qrcode table{margin:0 auto;}
        /*{/literal}*/
    </style>
</head>

<body>
    {include file="../../nav2.html"}
    <div class="icp" style="background:#fff;">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="../index.php">首页</a></li>
                    <li><a href="index.php">优字日报</a></li>
                    <li><a href="javascript:;">{$title}</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container mt20">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="background-color: #fff; padding-bottom: 20px; margin-bottom: 20px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt20">
                        <h3>{$article->title}</h3>
                        <div class="h10"></div>
                        <h5>
                            作者：{$article->author}&nbsp;&nbsp;&nbsp;&nbsp;
                            标签：{$article->tag}&nbsp;&nbsp;&nbsp;&nbsp;
                            时间：{$article->createTime|date_format:'%Y-%m-%d'}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="cursor: pointer;" data-toggle="modal" data-target="#qrcode">分享二维码</span>
                        </h5>
                        <div class="h10"></div>
                        <img src="{$article->coverImg}">
                        <div class="h10"></div>
                        <section style="text-indent: 2em; line-height: 1.8em;">
                            {$article->briefIntro}
                        </section>
                        <hr>
                        <article style="text-indent: 2em; line-height: 1.8em;">
                            {$article->content}
                        </article>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 hidden-sm hidden-xs">
                    <ul class="list-group">
                        <li class="list-group-item active">相关文章</li>
                        {section loop=$relative_articles name=item}
                        <a href="?Id={$relative_articles[item]->Id}" class="list-group-item" style="overflow-y: auto; padding-left:5px;">
                            <div style="float:left; width: 80px; margin-right: 10px;">
                                <img src="{$relative_articles[item]->coverImg}" width="80">
                            </div>
                            <div style="float: left; width: calc(100% - 90px);">
                                <h4 class="list-group-item-heading">
                                {$relative_articles[item]->title|truncate:14}
                                </h4>
                                <p class="list-group-item-text">
                                    {$relative_articles[item]->briefIntro|truncate:34}
                                </p>
                            </div>
                        </a>
                        {/section}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {include file="../../footer.html"}
    <div class="modal fade" id="qrcode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">微信扫码分享到朋友圈</h4>
                </div>
                <div class="modal-body" id="kd_qrcode" style="margin:0 atuo;"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        // {literal}
        $("#kd_qrcode").qrcode({text:location.href,render:"table"});
        // {/literal}
    </script>
</body>

</html>