<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/index.css" media="screen">
    <link rel="stylesheet" href="../assets/css/yingbi.css" media="screen">
    <link rel="stylesheet" href="../assets/css/style.css" media="screen">
    <title>书法宝典－名家时空</title>
</head>

<body>
    {include file="../../nav2.html"}
    <div class="icp" style="background:#fff;">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="../index.php">首页</a></li>
                    <li><a href="javascript:;">书法宝典</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="category-post-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-1.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-3.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-4.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-5.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-1.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-3.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-4.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-5.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="images/post-6.jpg" alt="post-1">
                            <a href="#" class="add-sign-big color-dark-pink">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <img src="images/qrcode.png">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="#" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>类别</span>
                                <a href="#" class="block-title">
                                标题文字标题文字标题文字标题文字
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i> 2017.08.08
                                </p>
                                <p>
                                    简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容 简介内容简介内容简介内容简介内容简介内容
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <ul class="pagination" style="margin-bottom: 20px;">
        <li style="display:inline-block;"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>

    {include file="../../footer.html"}
</body>

</html>