<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/index.css" media="screen">
    <link rel="stylesheet" href="../assets/css/yingbi.css" media="screen">
    <link rel="stylesheet" href="../assets/css/style.css" media="screen">
    <title>名家时空</title>
</head>

<body>
    {include file="../../nav2.html"}
    <div class="icp" style="background:#fff;">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="../index.php">首页</a></li>
                    <li><a href="javascript:;">名家时空</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="category-post-section">
        <div class="container">
            <div class="row">

            {section loop=$masters name=i}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="post-box">
                        <div class="image-box">
                            <img src="{$masters[i]->coverImg|default:'http://via.placeholder.com/370x292?text=image'}" alt="post-1">
                            <a href="#" class="add-sign-big color-green-dark">
                            <img src="images/big-plus.png" alt="big-plus"/>
                        </a>
                        </div>
                        <ul class="comments-social">
                            <li class="dropdown">
                                <a href="#">
                                    <img src="images/more-icon.png">
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <div class="qrcode" data-url="master.php?Id={$masters[i]->Id}"></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="post-box-inner">
                            <a href="master.php?Id={$masters[i]->Id}" class="box-read-more">
                            <img src="images/arrow.png" alt="arrow"/> 
                            了解更多
                        </a>
                            <div class="box-content">
                                <span>书法名家</span>
                                <a href="#" class="block-title">
                                {$masters[i]->name|truncate:20}
                            </a>
                                <p class="time">
                                    <i class="fa fa-clock-o"></i>
                                    
                                </p>
                                <p>
                                    {$masters[i]->intro|truncate:50}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
               {/section} 
                
            </div>
        </div>
    </div>

    <ul class="pagination" style="margin-bottom: 20px;">
        <li style="display:inline-block;"><a href="?page=1">&laquo;</a></li>
        {section loop=$page_list name=page}
        {if $page_list[page]==$current_page}
            <li class="active">
                <a href="?page={$page_list[page]}">{$page_list[page]}</a>
            </li>
        {else}
            <li>
                <a href="?page={$page_list[page]}">{$page_list[page]}</a>
            </li>
        {/if}
        
        {/section}
        <li><a href="?page={count($page_list)}">&raquo;</a></li>
    </ul>

    {include file="../../footer.html"}
</body>

</html>